@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

nav{
    background-color: #fff;
}
.nav-link-activ{
    color: #ff7f50;
    text-decoration: none;
}
.nav-link{
    color: #444444;
}
.btn-collor{
    color: #fff;
    background-color: #ff7f50;
    font-family: "Oxanium", sans-serif;
}
.btn-outline-warning {
    --bs-btn-color: #ff7f50;
    --bs-btn-border-color: #ff7f50;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #ff7f50;
    --bs-btn-hover-border-color: #ff7f50;
    --bs-btn-focus-shadow-rgb: 255, 193, 7;
    --bs-btn-active-color:fff;
    --bs-btn-active-bg: #ff7f50;
    --bs-btn-active-border-color: #ff7f50;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(255, 255, 255, 0.125);
    --bs-btn-disabled-color: #ff7f50;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #ff7f50;
    --bs-gradient: none;
    font-family: "Oxanium", sans-serif;
}
.btn-collor-search{
    color: #fff;
    background-color: #ffbe5d79;
    font-family: "Oxanium", sans-serif;
}
.btn-collor-nav{
    color: #ff7f50;
    background-color: #ff7f506b;
    font-family: "Oxanium", sans-serif;
    font-weight: bolder;
}
.text-collor{
    color: #ff7f50;
    font-family: "Raleway", sans-serif;
}
.text-collor-1{
    color: #ff7f50;
    font-family: "Oxanium", sans-serif;
}
.text-collor-2{
    color: #444444;
    font-family: "Raleway", sans-serif;
    font-size: x-large;
    font-weight: bold;
}
.text-collor-3{
    color: #444444;
    font-family: "Oxanium", sans-serif;
}
p{
    font-family: "Raleway", sans-serif;
}
text{
    font-family: "Raleway", sans-serif;
}
#Cards1 ul {
    list-style-type: none;
  }
  
  #Cards1 ul li {
    position: relative;
  }
  
  #Cards1 ul li::before {
    font-size: larger;
    content: "•";
    color: #ff7f50;
    margin-right: 5px;
}
#Cards1 {
    width: 100%;
  }
  
  .card {
    margin-bottom: 20px;
  }
h3{
    font-family: "Raleway",sans-serif;
    font-weight: 800;
    font-size: 25px;
}
h2{
    font-family: "Raleway",sans-serif;
    font-size: 50px;
}
.btn-long {
    width: 320px; /* Defina a largura desejada para os botões */
  }
  .card-body {
    padding: 30px; /* Adiciona um padding de 20px em todos os lados do conteúdo do card */
  }
  
  .card-title {
    font-size: 1.5rem; /* Tamanho da fonte para os títulos dos cards */
  }
  
  .card-text,
  .list {
    font-size: 1rem; /* Tamanho da fonte para o texto dos cards e listas */
  }
  .card-img-top{
    padding-bottom: 10px;
    padding-top: 30px;
  }
  video{
    max-width: 1320px;
    max-height: 580px;
  }
  #carousel-item img{
    margin-left: 20%;
  }
  .carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    padding: 0;
    color: #fff;
    text-align: center;
    background: #ffe1c34f;
    border: 0;
    opacity: .5;
    transition: opacity .15s ease;
}
#map {
  height: 400px;
}